<ul class="flex items-center -mx-2 h-16">
    <li class="mx-2"><a href="{{ path('get_main_page') }}">Main</a></li>
    <li class="mx-2"><a href="{{ path('get_catalog_page') }}">Catalog</a></li>
    <li class="mx-2"><a href="{{ path('get_about_page') }}">About</a></li>
</ul>
